@page "/datasourcs"
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations
@using System.Text.Json

<Modal Title="@("BasicModal")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <Form Loading="loading" Model="@model"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          @ref="@_form">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="Uri">
            <Input @bind-Value="@context.Uri" />
        </FormItem>
    </Form>
</Modal>

<Card>
    <Button Type="primary" OnClick="@ShowModal">
        新建
    </Button>
</Card>
<Card Style="height: 700px">
    <Table @ref="table"
           TItem="DataSource"
           DataSource="@dataSources"
           Total="_total"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="selectedRows"
    >
        <PropertyColumn Property="c=>c.Id" Sortable />
        <PropertyColumn Property="c=>c.Name" Sortable />
        <PropertyColumn Property="c=>c.Uri" Sortable />
        <ActionColumn Title="Action">
            <Space>
                <SpaceItem><Button  Type="@ButtonType.Primary" OnClick="()=>Edit(context.Id)">Edit</Button></SpaceItem>
                <SpaceItem><Button Danger OnClick="() => Delete(context.Id)">Delete</Button></SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</Card>



<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>

<br />
<h5>selections:</h5>
<Button OnClick="()=> { _pageIndex--; }">Previous page</Button>
<Button OnClick="()=> { _pageIndex++; }">Next Page</Button>

@code {

    IEnumerable<DataSource> dataSources;

    IEnumerable<DataSource> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        dataSources = await new swaggerClient("https://localhost:7103/", new HttpClient()).DataSourcesAllAsync();
        _total = dataSources.Count();
    }
    
    private void Edit(int id)
    {
        //Navigation.NavigateTo($@"reports/{id}");
    }

    private async Task Delete(int id)
    {
         await new swaggerClient("https://localhost:7103/", new HttpClient()).DataSources4Async(id);
        dataSources = await new swaggerClient("https://localhost:7103/", new HttpClient()).DataSourcesAllAsync();
        _total = dataSources.Count();
    }

    #region original form coding
    //public class Model
    //{
    //    [Required]
    //    public string Username { get; set; }
    //    [Required]
    //    public string Password { get; set; }
    //    public bool RememberMe { get; set; } = true;
    //}

    private DataSource model = new DataSource();

    private  void OnFinishFailed(EditContext editContext)
    {
        toggle(false);
        //dataSources = await new swaggerClient("https://localhost:7103/", new HttpClient()).DataSourcesAllAsync();
        //_total = dataSources.Count();
        //_visible = false;
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

    bool loading = false;

    void toggle(bool value) => loading = value;

    #endregion

    #region original modal coding

    bool _visible = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        toggle(false);
        Console.WriteLine("e");
        _visible = false;
    }

    #endregion

    /*
     * Careful!
     *
     * next bind submit event to modal OK button
     */

    private Form<DataSource> _form;

    /// <summary>
    /// when form is submited, close the modal
    /// </summary>
    /// <param name="args"></param>
    private async Task OnFinish(EditContext editContext)
    {
        toggle(false);
        dataSources = await new swaggerClient("https://localhost:7103/", new HttpClient()).DataSourcesAllAsync();
        _total = dataSources.Count();
        _visible = false;
    }

    /// <summary>
    /// on modal OK button is click, submit form manually
    /// </summary>
    /// <param name="e"></param>
    private async Task HandleOk(MouseEventArgs e)
    {
        toggle(true);
        var m = await new swaggerClient("https://localhost:7103/", new HttpClient()).DataSourcesAsync(model);
        
        _form.Submit();
    }
}