@page "/reports"
@inject NavigationManager Navigation
@inject LuckyReportHelper LuckyReportHelper
@using System.Text.Json
@using LuckyReport.Helpers

<Modal Title="@("BasicModal")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <Form Loading="_loading" Model="@_model"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          @ref="@_form">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Title" />
        </FormItem>
        <FormItem Label="DataSourceId">
            <Input @bind-Value="@context.DataSourceId" />
        </FormItem>
    </Form>
</Modal>

<Card>
    <Button Type="@ButtonType.Primary" OnClick="@ShowModal">
        新建
    </Button>
</Card>
<Card Style="height: 700px">
    <Table @ref="_table"
           TItem="Report"
           DataSource="@_reports"
           Total="_total"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="_selectedRows"
    >
        <PropertyColumn Width="100" Property="c=>c.Id" Sortable />
        <PropertyColumn   Property="c=>c.Title" Sortable />
        <PropertyColumn Property="c=>c.DataSourceId" Sortable />
        <ActionColumn Width="240"  Title="Action">
            <Space>
                <SpaceItem><Button  Type="@ButtonType.Primary" OnClick="()=>Design(context.Id)">  Design  </Button></SpaceItem>
                <SpaceItem><Button Type="@ButtonType.Primary" OnClick="()=>Design(context.Id)">  Edit  </Button></SpaceItem>
                <SpaceItem><Button  Type="@ButtonType.Primary" OnClick="()=>View(context.Id)">  View  </Button></SpaceItem>
                <SpaceItem><Button Danger OnClick="() => Delete(context.Id)">Delete</Button></SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</Card>


@code {
    IEnumerable<Report> _reports;
    IEnumerable<Report> _selectedRows;
    ITable _table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total;

    protected override async Task OnInitializedAsync()
    {
        _reports = await LuckyReportHelper.SwaggerClient.ReportsAllAsync();
        _total = _reports.Count();
    }
    
    private void Design(int id)
    {
        Navigation.NavigateTo($@"reports/{id}");
    }

    private void View(int id)
    {
        Navigation.NavigateTo($@"reports/{id}/view");
    }

    private async Task Delete(int id)
    {
        await LuckyReportHelper.SwaggerClient.Reports4Async(id);
        _reports = await LuckyReportHelper.SwaggerClient.ReportsAllAsync();
        _total = _reports.Count();
    }
    #region original form coding
   

    private Report _model = new Report();

    private  void OnFinishFailed(EditContext editContext)
    {
        Toggle(false);
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_model)}");
    }

    bool _loading;

    void Toggle(bool value) => _loading = value;

    #endregion

    #region original modal coding

    bool _visible;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Toggle(false);
        Console.WriteLine("e");
        _visible = false;
    }

    #endregion

    /*
     * Careful!
     *
     * next bind submit event to modal OK button
     */

    private Form<Report> _form;

    /// <summary>
    /// when form is submited, close the modal
    /// </summary>
    private async Task OnFinish(EditContext editContext)
    {
        Toggle(false);
        _reports = await LuckyReportHelper.SwaggerClient.ReportsAllAsync();
        _total = _reports.Count();
        _visible = false;
    }

    /// <summary>
    /// on modal OK button is click, submit form manually
    /// </summary>
    /// <param name="e"></param>
    private async Task HandleOk(MouseEventArgs e)
    {
        Toggle(true);
        await LuckyReportHelper.SwaggerClient.ReportsAsync(_model);
        _form.Submit();
    }
}